target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Created by .ignore support plugin (hsz.mobi)
*project
*iml
.settings
*classpath
*.class
.idea
*.war
*.jar
*mymetadata
*nb-configuration.xml
*target*
!.gitconfig
!.gitignore
*.MF
config.properties

